__pycache__/
*.py[cod]
.venv/
.envrc
dist/
build/
*.egg-info/

# Vite/Node
client/node_modules/
client/dist/
.vite/
client/.env
client/.env.local

# Editor
.idea/
.vscode/
*.swp

# direnv
.direnv/

.flox
